API_ID=12089203
API_HASH=7d85eb5ce156d35f22500fd8ef43e7c2
BOT_TOKEN=7041835456:AAGs-YwuA78Z6U_H_1gscDKUjjvSs_Xm9hw
LOG_GROUP_ID=-1002259121848
MONGO_DB_URI=mongodb+srv://tusharsingh3105@cluster0.q3oby.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=1459770505
STRING_SESSION=BQC4d3MAS_8RuvMkixGpXMTNatybK2KnM_KVAsWM5_cXwTfhzxvHYf8b27HDUV7xPtggRhjPQuog2MJILfx5mVAcUrKOjuUijUVggKYMPTz9t0TMgXW9GVYNYWfnNa1XIInn8yPQRbu5_NNS-wJjy8bNEXoRgYkhTDxBtsqLasw9RshPjnbniySdOQc8uo34ZVuU6F5t0_q1OdHuDdncRpL6oks33Um3ms-BPUqUgya4VvdGnr8a3WHt1dA2sUei5C-WfPUz_FsjyabhOFjk3A_HRetTzLOcJaANaMOYkNiwsG0QNgBYftL0GsVYNZv53Gqi5o5IgT1hFcH9FP-Um50zXZs6NAAAAAHNbe8SAA